/* https://contest.yandex.ru/contest/12897/problems/D/ */
/* Разработчик Александр заказал себе Яндекс.Станцию. Чтобы заказ доставили, нужно указать курьеру на карте правильное нахождение офиса Яндекса.
Частично Александр уже написал и CSS, и HTML. Помогите Александру дописать оставшийся код, чтобы из кусочков "пазла" получилась правильная карта.
PIC https://contest.yandex.ru/testsys/statement-image?imageId=5456137d329e99a47cd82521a5202cdfcbb4a4e9efbeb9360c0159b0f80898ea

Использовать картинки (даже через data:uri) нельзя.

Примечания
Решение нужно предоставить в виде CSS-файла.
Ваш файл будет подключен как solution.css к HTML-странице.
Ваше решение будет тестироваться в браузере Google Chrome 69. Семейство и другие параметры шрифтов изменять не надо. При этом локально у вас может не совпадать шрифт с ожидаемым состоянием, т.к. скриншоты сделаны в Ubuntu.
Рекомендуем использовать плагины для pixel-perfect верстки, например, PerfectPixel. */

.ymaps {
    position: absolute;
    top: 99px;
    left: 102px;
    height: 500px;
}
.street {
    z-index: 3;
}
.street:first-child {
    transform: rotate(90deg);
    top: 198px;
    left: -192px;
}
.street:last-child {
    transform: rotate(90deg);
    top: 195px;
    left: 292px;
}

.house-1 {
    top: 3px;
}

.house-2 {
    transform: rotate(90deg);
    top: 101px;
    left: 170px;
}
.house-3 {
    transform: rotate(270deg);
    top: 43px;
    left: -90px;
}
.house-4 {
    top: 223px;
}
.house-4 .entrance {
    position: relative;
    top: 36px;
}

.house-5 {
    left: 296px;
    top: 123px;
}
.lane {
    top: -37px;
    left: 391px;
    border-left: 1px solid #dfd9d8;
    border-bottom: 1px solid #dfd9d8;
    border-bottom-left-radius: 38px;
}

.lane:before {
    content: '';
    position: relative;
    top: 22px;
    left: 7px;
    width: 195px;
    border-left: 1px solid #dfd9d8;
    border-bottom: 1px solid #dfd9d8;
    border-bottom-left-radius: 36px;
    display: block;
    height: 321px;
}

.entrance {
    transform: rotate(66deg);
}

.marker {
    border-radius: 50%;
    color: transparent;
    transform: rotate(40deg);
}

.marker:before {
    content: 'Я';
    position: relative;
    color: red;
    top: 3px;
    left: 7px;
}
.marker:after {
    content: 'Яндекс';
    position: relative;
    top: 19px;
    left: -91px;
    width: 195px;
    color: black;
}
