div {
    color: #fff;
    border: 1px solid #777;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #fff 0%,#fff 20%,#777 20%,#777 30%,#fff 30%, #fff 100%);
}

div:after {
    content: '';
    position: absolute;
    left: -1px;
    top: 13px;
    height: 17px;
    width: 17px;
    background-color: #777;
    clip-path: polygon(43% 66%, 79% 8%, 90% 0, 35% 92%, 42% 14%, 48% 14%);
}
